
.container_content{
    width: 100%;
    padding: 20px 45px;
    box-sizing: border-box;
}

table{
    margin-top: 20px;
    border: 2px solid #dee2e6;
}

tr th{
    text-align: center;
}

#aksi_edit{
    text-align: end;
}

.jumbotron{
    margin: 0;
    background-image: url("../images/bg.jpg");
    background-size: auto;
}

.container_top{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.item_search button{
    background-color: #7f8c8d;
    color: white;
}

.item_input button{
    width: 180px;
}

h5{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
